.container {
  width: 160px;
  height: 160px;
  padding: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-color 0.2s;
  background-color: #c9c6c6
}

.container:hover {
  border-color: #3b82f6;
}

.imageContainer {
  margin-bottom: 8px;
}

.toolName {
  font-weight: bold;
  color: #333;
}