.modalContent {
  padding: 24px;
  background: white;
  border-radius: 8px;
}

.modalHeader {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.toolIcon{
  background: #c9c6c6;
  border-radius: 100%;
  padding: 12px;
}
.toolInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.toolTitle {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

.accessButton {
  display: inline-block;
  padding: 8px 16px;
  background-color: #10E454;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: all 0.2s;
}

.accessButton:hover {
  color: #1a365d;
  text-decoration: underline;
}